<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title> {{CompanyID}} </title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->
  <link href="{{url_for('static' , filename='assets/img/favicon.png')}}" rel="icon">
  <link href="{{url_for('static' , filename='assets/img/apple-touch-icon.png')}}" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{url_for('static' , filename='assets/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static' , filename='assets/vendor/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet">
  <link href="{{url_for('static' , filename='assets/vendor/aos/aos.css')}}" rel="stylesheet">
  <link href="{{url_for('static' , filename='assets/vendor/glightbox/css/glightbox.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static' , filename='assets/vendor/swiper/swiper-bundle.min.css')}}" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="{{url_for('static' , filename='assets/css/main.css')}}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: {{CompanyID}}
  * Template URL: https://Denso Labs.com/{{CompanyID}}-free-multipurpose-bootstrap-template/
  * Updated: Aug 07 2024 with Bootstrap v5.3.3
  * Author: Denso Labs.com
  * License: https://Denso Labs.com/license/
  ======================================================== -->
</head>

<body class="index-page">

  <header id="header" class="header sticky-top">

    <div class="topbar d-flex align-items-center dark-background">
      <div class="container d-flex justify-content-center justify-content-md-between">
        <div class="contact-info d-flex align-items-center">
          <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:info@{{CompanyID}}"> info@{{CompanyID}}.com</a></i>
          <i class="bi bi-phone d-flex align-items-center ms-4"><span>+254 41371429 </span></i>
        </div>
        <div class="social-links d-none d-md-flex align-items-center">
          <a href="#" class="twitter"><i class="bi bi-twitter-x"></i></a>
          <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
          <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
          <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
        </div>
      </div>
    </div><!-- End Top Bar -->

    <div class="branding d-flex align-items-cente">

      <div class="container position-relative d-flex align-items-center justify-content-between">
        <a href="index.html" class="logo d-flex align-items-center">
          <!-- Uncomment the line below if you also wish to use an image logo -->
          <!-- <img src="{{url_for('static' , filename='assets/img/logo.png')}}" alt=""> -->
          <h1 class="sitename">{{CompanyID}}</h1>
        </a>

        <nav id="navmenu" class="navmenu">
          <ul>
            <li><a href="#hero" class="active">Home<br></a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="#portfolio">Portfolio</a></li>
            <li><a href="#team">Team</a></li>

            <li class="dropdown"><a href="#"><span> Services </span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
              <ul>
                <li><a href="#"> Decentralised  Video  Storage </a></li>
                <li><a href="#"> Integrity Verification </a></li>
                <li><a href="#"> Real Time Analytics </a></li>
                <li><a href="#"> Collaborative Monitoring </a></li>
                <li><a href="#"> Incident Command and response  </a></li>
                <li class="dropdown"><a href="#"><span> Investor  Space </span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                  <ul>
                    <li><a href="#"> Invest in {{CompanyID}} </a></li>
                   <li><a href="#">  Book a one on one  </a></li>
                   
                  </ul>
                </li>
          
               
              </ul>
            </li>
            <li><a href="#contact">Contact</a></li>
          </ul>
          <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>

      </div>

    </div>

  </header>

  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section dark-background">

      <img src="{{url_for('static' , filename='assets/img/hero-bg.jpg')}}" alt="" data-aos="fade-in">

      <div class="container position-relative">

        <div class="welcome position-relative" data-aos="fade-down" data-aos-delay="100">
          <h2>Welcome to {{CompanyID}} </h2>
          <p> The tier 1 protocol for video surveillance technologies </p>
        </div><!-- End Welcome -->

        <div class="content row gy-4">
          <div class="col-lg-4 d-flex align-items-stretch">
            <div class="why-box" data-aos="zoom-out" data-aos-delay="200">
              <h3>Why choose {{CompanyID}}</h3>
              <p>
                Enhanced Security: The decentralized nature of blockchain reduces the risk of centralized data breaches, which can compromise surveillance footage.
              </p>
              <div class="text-center">
                <a href="#" class="more-btn"><span>Learn More</span> <i class="bi bi-chevron-right"></i></a>
              </div>
            </div>
          </div><!-- End Why Box -->

          <div class="col-lg-8 d-flex align-items-stretch">
            <div class="d-flex flex-column justify-content-center">
              <div class="row gy-4">

                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box" data-aos="zoom-out" data-aos-delay="300">
                    <i class="bi bi-clipboard-data"></i>
                    <h4>Privacy Control </h4>
                    <p> Users can control access to their video data, ensuring that only authorized individuals can view sensitive footage. </p>
                  </div>
                </div><!-- End Icon Box -->

                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box" data-aos="zoom-out" data-aos-delay="400">
                    <i class="bi bi-gem"></i>
                    <h4>Interoperability </h4>
                    <p> Various systems can securely share data on a blockchain without the need for intermediaries, enhancing collaboration among different organizations or collaborative entities .;</p>
                  </div>
                </div><!-- End Icon Box -->

                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box" data-aos="zoom-out" data-aos-delay="500">
                    <i class="bi bi-inboxes"></i>
                    <h4>Lower Infrastructure Costs</h4>
                    <p> Decentralization can potentially lower the costs associated with data management and storage infrastructure.</p>
                  </div>
                </div><!-- End Icon Box -->

              </div>  
            </div>
          </div>
        </div><!-- End  Content-->

      </div>

    </section><!-- /Hero Section -->

    <!-- About Section -->
    <section id="about" class="about section light-background">

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-5 position-relative align-self-start" data-aos="fade-up" data-aos-delay="200">
            <img src="{{url_for('static' , filename='assets/img/monitor.jpg')}}" class="img-fluid" alt="">
            <a href="https://www.youtube.com/watch?v=yZ2_mdQn-yM&pp=ygUbdmlkZW8gc3VydmVpbGxhbmNlIHNlY3VyaXR5" class="glightbox pulsating-play-btn"></a>
          </div>

          <div class="col-lg-7 content" data-aos="fade-up" data-aos-delay="100">
            <h3> What we do ? </h3>
            <p>
              We specialize in creating video surveillance systems that harness AI for intelligent analytics and blockchain for secure data management. Our solutions enable real-time monitoring, facial recognition, anomaly detection, and automated reporting while ensuring that all footage remains tamper-proof and transparently recorded on the blockchain.
            </p>
            <ul>
              <li>
                <i class="bi bi-diagram-3"></i>
                <div>
                  <h5> Anomaly Detection </h5>
                  <p> AI algorithms identify deviations from normal behavior in real-time surveillance feeds, facilitating proactive measures. </p>
                </div>
              </li>
              <li>
                <i class="bi bi-fullscreen-exit"></i>
                <div>
                  <h5>Integrity</h5>
                  <p> We believe in maintaining the highest level of data integrity and transparency in all our operations </p>
                </div>
              </li>
              <li>
                <i class="bi bi-broadcast"></i>
                <div>
                  <h5> Interagency Collaborative Monitoring </h5>
                  <p>  Collaboration between different regulatory bodies and law enforcement agencies facilitates a more coordinated approach to investigating and addressing illegal activities in the blockchain space. </p>
                </div>
              </li>
              
            </ul>
          </div>

        </div>

      </div>

    </section><!-- /About Section -->

    <!-- Clients Section -->
    <section id="clients" class="clients section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="swiper init-swiper">
          <script type="application/json" class="swiper-config">
            {
              "loop": true,
              "speed": 600,
              "autoplay": {
                "delay": 5000
              },
              "slidesPerView": "auto",
              "pagination": {
                "el": ".swiper-pagination",
                "type": "bullets",
                "clickable": true
              },
              "breakpoints": {
                "320": {
                  "slidesPerView": 2,
                  "spaceBetween": 40
                },
                "480": {
                  "slidesPerView": 3,
                  "spaceBetween": 60
                },
                "640": {
                  "slidesPerView": 4,
                  "spaceBetween": 80
                },
                "992": {
                  "slidesPerView": 6,
                  "spaceBetween": 120
                }
              }
            }
          </script>
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide"><img src="{{url_for('static' , filename='assets/img/clients/storj.png')}}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{{url_for('static' , filename='assets/img/clients/Denso.png')}}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{{url_for('static' , filename='assets/img/clients/eth.png')}}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{{url_for('static' , filename='assets/img/clients/google.png')}}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{{url_for('static' , filename='assets/img/clients/Lisk.png')}}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{{url_for('static' , filename='assets/img/clients/livepeer.png')}}" class="img-fluid" alt=""></div>
        
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>

    </section><!-- /Clients Section -->

    <!-- Services Section -->
    <section id="services" class="services section light-background">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Services</h2>
        <p> Highlighted areas of interest regarding our service charter  </p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item  position-relative">
              <div class="icon">
                <i class="bi bi-activity"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3> Reliable Tamper-Proof Storage   </h3>
              </a>
              <p> Store video footage on a blockchain to ensure that once data is recorded, it cannot be altered or deleted through a distributed network to enhance data availability and redundancy </p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-broadcast"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3> Real-Time Monitoring </h3>
              </a>
              <p> Provide real-time video streaming capabilities to authorized users without the risk of tampering.
                Alerts and Notifications: Send alerts for unusual activity detected by AI analysis of video streams. </p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-easel"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3> Video Analysis Tools </h3>
              </a>
              <p> Utilize artificial intelligence for facial recognition, object detection, and behavior analysis within the video. In addition through 

                    Incident Detection: Automatically flag potential security incidents for further review </p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-bounding-box-circles"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3> Privacy Considerations  </h3>
              </a>
              <p>While monitoring is vital, it’s equally important to respect user privacy and adhere to legal frameworks, which can be complex in decentralized networks. </p>
              <a href="#" class="stretched-link"></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-calendar4-week"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3> Inter-Agency Collaborative Monitoring </h3>
              </a>
              <p> coordinated efforts of multiple agencies and organizations to share information, resources, and strategies to enhance security measures and address threats. This approach is particularly important in areas such as national security, public safety, and emergency response. </p>
              <a href="#" class="stretched-link"></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-chat-square-text"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3> Predictive Analytics </h3>
              </a>
              <p> Utilizing machine learning algorithms can help predict potential fraudulent activities or identify suspicious behavior by analyzing vast amounts of transaction data. </p>
              <a href="#" class="stretched-link"></a>
            </div>
          </div><!-- End Service Item -->

        </div>

      </div>

    </section><!-- /Services Section -->


    <!-- Testimonials Section -->
    <section id="testimonials" class="testimonials section dark-background">

      <img src="{{url_for('static' , filename='assets/img/test-bg.jpg')}}" class="testimonials-bg" alt="">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="swiper init-swiper">
          <script type="application/json" class="swiper-config">
            {
              "loop": true,
              "speed": 600,
              "autoplay": {
                "delay": 5000
              },
              "slidesPerView": "auto",
              "pagination": {
                "el": ".swiper-pagination",
                "type": "bullets",
                "clickable": true
              }
            }
          </script>
          <div class="swiper-wrapper">

          
            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="{{url_for('static' , filename='assets/img/team/team-1.jpeg')}}" class="testimonial-img" alt="">
                <h3> Abigael Nyangasi </h3>
                <h4> SWE | Lead Engineer </h4>
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span> Investing in a high-quality surveillance system has saved us from losses due to theft. It’s definitely more cost-effective than dealing with the aftermath of a crime</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="{{url_for('static' , filename='assets/img/team/team-2.jpg')}}" class="testimonial-img" alt="">
                <h3>Clyde Javis </h3>
                <h4> SWE | Maintainer | DevOps </h4>
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span> Using a blockchain surveillance system has transformed how we track transactions. The transparency it provides not only holds us accountable but also increases trust among our clients </span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="{{url_for('static' , filename='assets/img/team/team-3.jpg')}}" class="testimonial-img" alt="">
                <h3>Cheryll Owala </h3>
                <h4> SWE | Maintainer | DevOps </h4>
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span> Since implementing the blockchain surveillance system, we’ve seen a significant drop in fraudulent activities. The real-time monitoring has made it much easier to flag suspicious transactions before they escalate.</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="{{url_for('static' , filename='assets/img/team/team-4.jpg')}}" class="testimonial-img" alt="">
                <h3> Gloria Mariwa </h3>
                <h4> SWE </h4>
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span> The blockchain surveillance system has streamlined our operations. With automated alerts and data analysis, we can focus more on strategic decisions rather than sifting through endless data manually </span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->


          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>

    </section><!-- /Testimonials Section -->

 

    <!-- Team Section -->
    <section id="team" class="team section light-background">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Team</h2>
        <p> Meet the people behind {{CompanyID}} ? </p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="team-member">
              <div class="member-img">
                <img src="{{url_for('static' , filename='assets/img/team/team-1.jpeg')}}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter-x"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4> Ijay_Js </h4>
                <span> CTO | Lead Engineer </span>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="team-member">
              <div class="member-img">
                <img src="{{url_for('static' , filename='assets/img/team/team-2.jpg')}}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter-x"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4> Clyde Javis </h4>
                <span> Lead Engineer | DevOps </span>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="team-member">
              <div class="member-img">
                <img src="{{url_for('static' , filename='assets/img/team/team-3.jpg')}}" class="img-fluid" alt="" style="height:400px;">
                <div class="social">
                  <a href=""><i class="bi bi-twitter-x"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4> Cheryll Owalla </h4>
                <span> Lead Engineer | DevOps  </span>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
            <div class="team-member">
              <div class="member-img">
                <img src="{{url_for('static' , filename='assets/img/team/team-4.jpg')}}" class="img-fluid" alt="" style="height:400px;">
                <div class="social">
                  <a href=""><i class="bi bi-twitter-x"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4> Gloria Mariwa </h4>
                <span> Lead Engineer | DevOps  </span>
              </div>
            </div>
          </div><!-- End Team Member -->

        </div>

      </div>

    </section><!-- /Team Section -->


    <!-- Faq Section -->
    <section id="faq" class="faq section light-background">

      
      <div class="container section-title" data-aos="fade-up">
        <h2>Frequently Asked Questions</h2>
        <p>  Quech your anxiety through laid out principles first hand </p>
      </div>

      <div class="container">

        <div class="row justify-content-center">

          <div class="col-lg-8">

            <div class="faq-container">

              <div class="faq-item faq-active" data-aos="fade-up" data-aos-delay="200">
                <i class="faq-icon bi bi-question-circle"></i>
                <h3> How does {{CompanyID}} improve video surveillance security ? </h3>
                <div class="faq-content">
                  <p> Blockchain enhances the security of video surveillance by decentralizing storage, which reduces the risk of data breaches.
                     It ensures that video data cannot be altered or deleted without a trace, maintaining the integrity of the footage.

                  </p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div>

              <div class="faq-item" data-aos="fade-up" data-aos-delay="300">
                <i class="faq-icon bi bi-question-circle"></i>
                <h3> What role does AI play in this system ? </h3>
                <div class="faq-content">
                  <p>  AI enhances surveillance by providing intelligent analytics such as facial recognition, object detection, and behavior analysis. 
                    These capabilities allow for real-time monitoring and actionable insights from the collected video data. </p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div>

              <div class="faq-item" data-aos="fade-up" data-aos-delay="400">
                <i class="faq-icon bi bi-question-circle"></i>
                <h3> Who can access the video footage ? </h3>
                <div class="faq-content">
                  <p> Access to video footage can be controlled through smart contracts that define permissions. Only authorized individuals and entities can view or manipulate the data, ensuring that privacy is maintained. </p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div>

              <div class="faq-item" data-aos="fade-up" data-aos-delay="500">
                <i class="faq-icon bi bi-question-circle"></i>
                <h3>  Can footage be altered once it is recorded ? </h3>
                <div class="faq-content">
                  <p> No, once footage is recorded and linked to the blockchain, it cannot be altered or deleted.
                     This provides a secure and trustworthy source of evidence for legal and security purposes. </p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div>

              <div class="faq-item" data-aos="fade-up" data-aos-delay="600">
                <i class="faq-icon bi bi-question-circle"></i>
                <h3> How does this system comply with data protection regulations ?</h3>
                <div class="faq-content">
                  <p> Our blockchain-based surveillance system is designed with data protection regulations in mind, such as GDPR.
                     Features like encryption, user consent management, and audit trails help ensure compliance. </p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div>

            </div>

          </div>

        </div>

      </div>

    </section>
    

    <!-- Contact Section -->
    <section id="contact" class="contact section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Contact Us</h2>
        <p> Feel free to reach to us at any moment through the contacts below ? </p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-md-6">
            <div class="info-item d-flex align-items-center" data-aos="fade-up" data-aos-delay="200">
              <i class="icon bi bi-geo-alt flex-shrink-0"></i>
              <div>
                <h3>Address</h3>
                <p> 148 Technology Road , Kisumu , KSM 40100 </p>
              </div>
            </div>
          </div><!-- End Info Item -->

          <div class="col-md-6">
            <div class="info-item d-flex align-items-center" data-aos="fade-up" data-aos-delay="300">
              <i class="icon bi bi-telephone flex-shrink-0"></i>
              <div>
                <h3>Call Us @ </h3>
                <p>+254 41371429 | +254 50880802 </p>
              </div>
            </div>
          </div><!-- End Info Item -->

          <div class="col-md-6">
            <div class="info-item d-flex align-items-center" data-aos="fade-up" data-aos-delay="400">
              <i class="icon bi bi-envelope flex-shrink-0"></i>
              <div>
                <h3>Email Us</h3>
                <p>info@surve.com</p>
              </div>
            </div>
          </div><!-- End Info Item -->

          <div class="col-md-6">
            <div class="info-item d-flex align-items-center" data-aos="fade-up" data-aos-delay="500">
              <i class="icon bi bi-share flex-shrink-0"></i>
              <div>
                <h3>Social Profiles</h3>
                <div class="social-links">
                  <a href="#"><i class="bi bi-twitter-x"></i></a>
                  <a href="#"><i class="bi bi-facebook"></i></a>
                  <a href="#"><i class="bi bi-instagram"></i></a>
                  <a href="#"><i class="bi bi-skype"></i></a>
                  <a href="#"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div><!-- End Info Item -->

        </div>

        <form action="forms/contact.php" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="600">
          <div class="row gy-4">

            <div class="col-md-6">
              <input type="text" name="name" class="form-control" placeholder="Your Name" required="">
            </div>

            <div class="col-md-6 ">
              <input type="email" class="form-control" name="email" placeholder="Your Email" required="">
            </div>

            <div class="col-md-12">
              <input type="text" class="form-control" name="subject" placeholder="Subject" required="">
            </div>

            <div class="col-md-12">
              <textarea class="form-control" name="message" rows="6" placeholder="Message" required=""></textarea>
            </div>

            <div class="col-md-12 text-center">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your message has been sent. Thank you!</div>

              <button type="submit">Send Message</button>
            </div>

          </div>
        </form><!-- End Contact Form -->

      </div>

    </section><!-- /Contact Section -->

  </main>

  <footer id="footer" class="footer dark-background">

    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-4 col-md-6 footer-about">
          <a href="index.html" class="logo d-flex align-items-center">
            <span class="sitename">{{CompanyID}}</span>
          </a>
          <div class="footer-contact pt-3">
            <p> 148n Technology Road </p>
            <p> Kisumu , KSM 40100</p>
            <p class="mt-3"><strong>Phone:</strong> <span>+254 41371429 | +254 50880802 </span></p>
            <p><strong>Email:</strong> <span>info@surve.com</span></p>
          </div>
          <div class="social-links d-flex mt-4">
            <a href=""><i class="bi bi-twitter-x"></i></a>
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
            <a href=""><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Terms of service</a></li>
            <li><a href="#">Privacy policy</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Core Services</h4>
          <ul>
            <li><a href="#"> Decentralised Video Storage  </a></li>
            <li><a href="#"> Integrity Verification </a></li>
            <li><a href="#"> Real Time Analytics </a></li>
            <li><a href="#"> Collaborative Monitoring </a></li>
            <li><a href="#"> Incident command and response </a></li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-12 footer-newsletter">
          <h4>Our Newsletter</h4>
          <p>Subscribe to our newsletter and receive the latest news about our products and services!</p>
          <form action="forms/newsletter.php" method="post" class="php-email-form">
            <div class="newsletter-form"><input type="email" name="email"><input type="submit" value="Subscribe"></div>
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">Your subscription request has been sent. Thank you!</div>
          </form>
        </div>

      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>© <span>Copyright</span> <strong class="px-1 sitename">{{CompanyID}}</strong> <span>All Rights Reserved</span></p>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you've purchased the pro version. -->
        <!-- Licensing information: https://DensoLabs.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
        Designed by <a href="https://DensoLabs.com/">Denso Labs</a>
      </div>
    </div>

  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{{url_for('static' , filename='assets/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
  <script src="{{url_for('static' , filename='assets/vendor/php-email-form/validate.js')}}"></script>
  <script src="{{url_for('static' , filename='assets/vendor/aos/aos.js')}}"></script>
  <script src="{{url_for('static' , filename='assets/vendor/glightbox/js/glightbox.min.js')}}"></script>
  <script src="{{url_for('static' , filename='assets/vendor/swiper/swiper-bundle.min.js')}}"></script>
  <script src="{{url_for('static' , filename='assets/vendor/imagesloaded/imagesloaded.pkgd.min.js')}}"></script>
  <script src="{{url_for('static' , filename='assets/vendor/isotope-layout/isotope.pkgd.min.js')}}"></script>

  <!-- Main JS File -->
  <script src="{{url_for('static' , filename='assets/js/main.js')}}"></script>

</body>

</html>